# Server
PORT=3000

# PostgreSQL
DATABASE_URL="Add your DB Link"

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=7d

# Frontend
FRONTEND_URL=http://localhost:3002
BACKEND_URL=http://localhost:3000
SENDGRID_API_KEY=send_grid_api_key
EMAIL_FROM=your_email
AI_BASE_URL=